.table-header{
    background-color: darkgray;
    line-height: 3;
}
.create-emp{
    button{
    color: grey;
    width:70px;
    padding: 5px;
    }
}

.table-column{
    background-color: rgba(18, 23, 31, 0.7);
background: rgba(18, 23, 31, 0.7);
color: rgba(242, 244, 247, 0.911);
    line-height: 1.5;
 button{
    color: grey;
    width: 70px;
    padding: 5px;
    background-color: darkcyan;
    color: aliceblue;
    }
}  